*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container,
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
}

/* Logo */

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.footer-accent {
  color: #f4f4fd;
}

/* Navigation */

.nav-list {
  font-weight: 500;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.nav-list-item {
  color: #2e2f42;
  padding: 24px 0;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.nav-list-item:active {
  text-decoration: underline;
}

.contacts-section {
  font-style: normal;
}

.address {
  display: flex;
  gap: 40px;
}

.contact-details {
  color: #434455;
  font-weight: 400;
}

.contact-details:hover,
.contact-details:focus {
  color: #404bbf;
}

/* Section 1 */

.solutions-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.solutions-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto 48px;
}

.solutions-button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.64px;
  margin-top: 0;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
}

.solutions-button:hover,
.solutions-button:focus {
  background-color: #404bbf;
}

/* Section 2 */

.benefits-section {
  padding: 120px 0;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.benefits-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 400;
  margin-top: 0;
}

/* Section 3 */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
  margin-top: 0;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-employee {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.employee-text {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

/* Section 4 */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 2 * 24) / 3);
}

.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  margin-top: 0;
}

/* Footer */

.footer-section {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logotype {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  width: 264px;
  margin-top: 0;
}
